@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');

html{
  width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
 .main{
    width: 100%;
      height: 100%;
    overflow: hidden;
}
.navbar{
  display: flex;
  height: 15.290933694181327vh;
  width: 125vw;
 
  
    background: #FFF;
}
.logo{
  width: 14.453125vw;
    height: 7.719079837618403vh;
    flex-shrink: 0;
}
 .Lookingforagency{
  width: 20.768229166666668vw;
    height: 3.5182679296346415vh;
    flex-shrink: 0;
color: #151112;
display: flex;
align-items: end;
justify-content: end;

  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.applyasclient{
  color: #026670;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
div .content{
  height: 100%;
  width: 100%;
  display: flex;
 
  background-color: #FFF;
  justify-content: center;
    align-items: center;
}
.form{
  width: 40vw;
    height: 110vh;
    flex-shrink: 0;
    border-radius: 11px;
      border: 1px solid #026670;
    display: block;
      background: #026670;
      
      
}
.signup{
  color: #FFF;
  
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Google{
  width: 350px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 6px;
      border: 1px solid #FFF;
      background: transparent;
      color: #FFF;
}
.Apple {
  width: 350px;
  height: 45px;
  margin-top: 5px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #FFF;
  background: transparent;
  color: #FFF;
}
.inputs{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
  padding-top: 5vh;
}
.inputs2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
    gap: 4px;
    padding-top: 1vh;
    }
    
.firstname{
  width: 12vw;
  height: 5vh;
  background: #026670;
  color: #FFF;
  border-radius: 6px;
    border: 1px solid #FFF;
}
.lastname{
    width: 12vw;
      height: 5vh;
      background: #026670;
      flex-shrink: 0;
      color: #FFF;
      border-radius: 6px;
      border: 1px solid #FFF;
}
.email{
    width: 12vw;
      height: 5vh;
      background: #026670;
      color: #FFF;
      border-radius: 6px;
      border: 1px solid #FFF;
}
.password{
    width: 12vw;
      height: 5vh;
      background: #026670;
      color: #FFF;
      border-radius: 6px;
      border: 1px solid #FFF;
}
.para{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.tips{
  width: 400px;
    height: 20px;
    flex-shrink: 0;
    color: #FFF;
    display: flex;
    align-items: end;
    
      text-align: center;
      font-family: Lato;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
}
.terms{
  width: 400px;
    height: 30px;
    flex-shrink: 0;
    color: #FFF;
  
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.amazed{
  color: #F89939;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.createaccount{
width: 350px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 6px;
  border: none;
  background: #F89939;
  color: #FFF;
}
.alreadyaccount{
  width: 286px;
    height: 26px;
    flex-shrink: 0;
    color: #FFF;
  
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.or{
  display: flex;
  align-items: center;
  justify-content: center;
}
.orr{
  width: 22px;
    height: 24px;
    flex-shrink: 0;
    color: #FFF;
  
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}