body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-inter: Inter;
    --font-lato: Lato;
    --font-lora: Lora;

    /* font sizes */
    --font-size-7xl: 26px;

    /* Colors */
    --color-white: #fff;
    --color-teal: #026670;

    /* Border radiuses */
    --br-7xs: 6px;
}