.sign-up-client-1-child {
    position: absolute;
    top: 160px;
    left: 594px;
    border-radius: 11px;
    border: 1px solid var(--color-teal-100);
    box-sizing: border-box;
    width: 733px;
    height: 804px;
}

.sign-up-client-1-item {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    border: 1px solid #707070;
    box-sizing: border-box;
    width: 1920px;
    height: 113px;
}

.group-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 222px;
    height: 57.04px;
}

.it-hub {
    border: 0;
    background-color: transparent;
    font-family: var(--font-inter);
    font-size: var(--font-size-lg);
    position: absolute;
    top: 57.47px;
    left: 165.36px;
    line-height: 21px;
    color: #2e2e2e;
    text-align: left;
}

.group-parent {
    position: absolute;
    top: 30px;
    left: 150px;
    width: 222px;
    height: 78.47px;
}

.already-have-an-container,
.sign-up-to {
    margin: 0;
    position: absolute;
    color: var(--color-gray);
}

.sign-up-to {
    top: 201px;
    left: 793.53px;
    font-size: 30px;
    font-weight: 700;
    font-family: inherit;
}

.already-have-an-container {
    top: 885px;
    left: 817px;
    font-size: var(--font-size-lg);
    display: inline-block;
    width: 286px;
    height: 26px;
}

.apply-as-an {
    color: var(--color-teal-100);
}

.looking-for-work-container {
    margin: 0;
    position: absolute;
    top: 30px;
    left: 1469px;
    font-size: var(--font-size-lg);
    text-align: left;
    display: inline-block;
    width: 301px;
    height: 26px;
    color: var(--color-gray);
}

.component-3-9-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-7xs);
    background-color: var(--color-teal-100);
}

.component-3-9 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 830px;
    left: 710px;
    width: 500px;
    height: 45px;
}

.rectangle-button,
.rectangle-input,
.sign-up-client-1-child1,
.sign-up-client-1-inner {
    position: absolute;
    left: 710px;
    border-radius: var(--br-7xs);
    box-sizing: border-box;
    height: 45px;
}

.sign-up-client-1-inner {
    cursor: pointer;
    border: 1px solid var(--color-teal-100);
    padding: 0;
    background-color: rgba(2, 102, 112, 0.19);
    top: 305px;
    width: 500px;
}

.rectangle-button,
.rectangle-input,
.sign-up-client-1-child1 {
    border: 1px solid var(--color-darkslategray-100);
    background-color: transparent;
    top: 501px;
    width: 236px;
}

.rectangle-button,
.sign-up-client-1-child1 {
    left: 976px;
    width: 234px;
}

.rectangle-button {
    cursor: pointer;
    border: 1px solid var(--color-teal-100);
    padding: 0;
    top: 365px;
    left: 710px;
    width: 500px;
}

.sign-up-client-1-child2 {
    background-color: transparent;
    top: 566px;
    left: 710px;
    width: 236px;
}

.rectangle-ul,
.sign-up-client-1-child2,
.sign-up-client-1-child3 {
    border: 1px solid var(--color-gray);
    position: absolute;
    border-radius: var(--br-7xs);
    box-sizing: border-box;
    height: 45px;
}

.rectangle-ul {
    margin: 0;
    top: 631px;
    left: 710px;
    width: 502px;
}

.sign-up-client-1-child3 {
    background-color: transparent;
    top: 566px;
    left: 976px;
    width: 236px;
}

.create-my-account {
    margin: 0;
}

.create-my-account-container {
    text-decoration: none;
    position: absolute;
    top: 839px;
    left: 868px;
    font-size: 22px;
    font-weight: 700;
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 185px;
    height: 27px;
}

.continue-with-google {
    text-decoration: none;
    top: 316px;
    left: 847px;
    color: var(--color-gray);
    width: 226px;
}

.continue-with-apple,
.continue-with-google,
.or {
    position: absolute;
    font-size: var(--font-size-xl);
    display: inline-block;
    height: 24px;
}

.continue-with-apple {
    text-decoration: none;
    top: 376px;
    left: 847px;
    color: var(--color-gray);
    width: 226px;
}

.or {
    top: 437px;
    left: 949px;
    width: 22px;
}

.first-name,
.last-name,
.password,
.send-me-the,
.work-email-address {
    position: absolute;
    top: 514px;
    left: 710px;
    display: inline-block;
    width: 94px;
    height: 20px;
}

.last-name,
.password,
.send-me-the,
.work-email-address {
    left: 976px;
}

.password,
.send-me-the,
.work-email-address {
    top: 579px;
    left: 974px;
}

.send-me-the,
.work-email-address {
    left: 716px;
    width: 149px;
}

.send-me-the {
    margin: 0;
    top: 723px;
    left: 726px;
    font-size: var(--font-size-xs);
    width: 366px;
}

.span {
    color: #94004a;
}

.oman,
.yes-i-understand-container {
    position: absolute;
    display: inline-block;
}

.yes-i-understand-container {
    margin: 0;
    top: 754px;
    left: 728px;
    font-size: var(--font-size-xs);
    text-align: left;
    width: 500px;
    height: 30px;
}

.oman {
    top: 644px;
    left: 716px;
    width: 53px;
    height: 20px;
}

.icon-awesome-google {
    position: absolute;
    top: 313.77px;
    left: 821px;
    width: 28px;
    height: 28.46px;
}

.icon-awesome-apple {
    position: absolute;
    top: 371.75px;
    left: 821.77px;
    width: 26.47px;
    height: 31.49px;
}

.line-div,
.sign-up-client-1-child4 {
    position: absolute;
    top: 452px;
    left: 710px;
    border-top: 1px solid var(--color-dimgray-100);
    box-sizing: border-box;
    width: 236px;
    height: 1px;
}

.sign-up-client-1-child4 {
    left: 975px;
    width: 235.5px;
}

.icon-ionic-md-eye-off {
    position: absolute;
    top: 584.24px;
    left: 1188px;
    width: 11.11px;
    height: 9.52px;
}

.icon-ionic-ios-arrow-down {
    position: absolute;
    top: 653.5px;
    left: 1169.94px;
    width: 12.68px;
    height: 7.25px;
}

.icon-material-check-box,
.icon-material-check-box-outlin {
    position: absolute;
    top: 726px;
    left: 710px;
    width: 10.45px;
    height: 10.45px;
}

.icon-material-check-box {
    top: 757px;
}

.sign-up-client-1 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1352px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-dimgray-100);
    font-family: var(--font-lato);
}